.writeup-search {
    max-width: 800px;
    margin: 20px auto;
}

#searchInput {
    width: 100%;
    padding: 10px 12px;

    background: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: var(--radius);

    color: var(--text-primary);
    font-family: monospace;

    transition: .12s ease-in-out;
}

#searchInput:hover {
    border-color: var(--accent-dark);
}

#searchInput:focus {
    outline: none;
    border-color: var(--accent);
}

#searchInput:focus:hover {
    border-color: var(--accent-soft);
}