.archive {
    width: 100%;
    max-width: 800px;
}

.labs-title {
    color: #E2E8F0;
}

/* YEAR HEADER */

.chevron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    transition: transform 0.25s ease;
}

.year-header {
    display: flex;
    align-items: center;
    /* gap: 8px; */

    font-size: 1.4rem;
    color: var(--accent);
    cursor: pointer;
}

.year-text {
    color: var(--text-secondary);
}

.count {
    color: var(--text-muted);
    font-size: 0.9rem;
    align-self: start;
}

/* YEAR CONTENT */

.year-content {
    overflow: hidden;       /* essential for collapse */
    max-height: 0;          /* start collapsed */
    transition: max-height 0.35s ease;
}


/* WRITEUP LINKS */

.writeup-link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    padding: 10px 15px;
    margin-bottom: 10px;

    background: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: var(--radius);

    text-decoration: none;
    color: var(--text-secondary);
}

.writeup-link:hover { border-color: var(--accent); }

/* Base alignment */
.writeup-link span {
    position: relative;
    text-align: center;
}

/* Column alignments */

/* Properly centered separators */
.lab-name::after,
.lab-platform::after {
    content: "";
    position: absolute;
    right: 0;                /* anchor to column edge */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 1px;
    height: 100%;
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(41, 41, 41),
        transparent
    );
}


/* DIFFICULTY COLORS */

.lab-difficulty.easy {
    color: #22c55e;
}

.lab-difficulty.medium {
    color: #facc15;
}

.lab-difficulty.hard {
    color: #ef4444;
}
